{% extends "SmartnodeTalkBundle::layout.html.twig" %}

{% block body %}

    <h1>Ajouter un Channel</h1>


    <div class="boite col_4">

    {{ form(formulaire) }}

        {{ form_errors(formulaire) }}

        {# affiche les erreurs "globales" #}
        {{ form_errors(formulaire) }}

</div>

{% endblock %}
